USE [master]
GO
/****** Object:  Database [PetShop]    Script Date: 22/06/2026 1:29:03 CH ******/
CREATE DATABASE [PetShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetShop', FILENAME = N'D:\study\PTUDW\project\csdl\PetShop csdl\PetShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetShop_log', FILENAME = N'D:\study\PTUDW\project\csdl\PetShop csdl\PetShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetShop]
GO
/****** Object:  Table [dbo].[AdminUser]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUser](
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_AdminUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[ProductId] [int] NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Image] [nvarchar](50) NULL,
	[Price] [int] NULL,
	[PriceSale] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_CartItem] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Account]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Avatar] [nvarchar](500) NULL,
	[FullName] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[Email] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
	[Position] [nvarchar](50) NULL,
	[LastLogin] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Account] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Blog]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[CategoryId] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[AccountId] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_BlogComment]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BlogComment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Image] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[Detail] [nvarchar](200) NULL,
	[BlogId] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_BlogComment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Category]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Position] [int] NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tb_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Contact]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](150) NULL,
	[Message] [nvarchar](max) NULL,
	[IsRead] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tb_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Customer]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[Avatar] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[LocationId] [int] NULL,
	[LastLogin] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Menu]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Levels] [int] NULL,
	[ParentId] [int] NULL,
	[Position] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Order]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nchar](10) NULL,
	[CustomerId] [int] NULL,
	[CustomerName] [nvarchar](50) NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](250) NULL,
	[TotalAmount] [int] NULL,
	[Quanlity] [int] NULL,
	[OrderStatusId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tb_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderDetail]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_tb_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderStatus]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderStatus](
	[OrderStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[OrderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Product]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[CategoryProductId] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[Price] [int] NULL,
	[PriceSale] [int] NULL,
	[Quantity] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsNew] [bit] NOT NULL,
	[IsBestSeller] [bit] NOT NULL,
	[UnitInStock] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[Star] [int] NULL,
 CONSTRAINT [PK_tb_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductCategory]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductCategory](
	[CategoryProductId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Icon] [nvarchar](500) NULL,
	[Position] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductReview]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductReview](
	[ProductReviewId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Image] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[Detail] [nvarchar](200) NULL,
	[Star] [int] NULL,
	[ProductId] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_ProductReview] PRIMARY KEY CLUSTERED 
(
	[ProductReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Role]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Service]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Service](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[CategoryServiceId] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[Price] [int] NULL,
	[PriceSale] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsNew] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Star] [int] NULL,
 CONSTRAINT [PK_tb_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ServiceCategory]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ServiceCategory](
	[CategoryServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Icon] [nvarchar](500) NULL,
	[Position] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_ServiceCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ServiceReview]    Script Date: 22/06/2026 1:29:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ServiceReview](
	[ProductServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Image] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[Detail] [nvarchar](200) NULL,
	[Star] [int] NULL,
	[ServiceId] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_ServiceReview] PRIMARY KEY CLUSTERED 
(
	[ProductServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Account] ON 

INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [Avatar], [FullName], [Birthday], [Phone], [Address], [Email], [RoleId], [Position], [LastLogin], [IsActive]) VALUES (5, NULL, N'd411cf68bd7f71d13fb053154f455651', N'nhan.jpg', N'Hoàng Thanh Nhàn', NULL, N'0374928475', NULL, N'nhan@gmail.com', 2, NULL, NULL, 0)
INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [Avatar], [FullName], [Birthday], [Phone], [Address], [Email], [RoleId], [Position], [LastLogin], [IsActive]) VALUES (11, NULL, N'4bf1254feedf62b06ebd0ceb23f806a5', N'ngoc.jpg', N'Phan Hoàng Nam', NULL, N'0398573458', NULL, N'nam@gmail.com', 2, NULL, NULL, 0)
INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [Avatar], [FullName], [Birthday], [Phone], [Address], [Email], [RoleId], [Position], [LastLogin], [IsActive]) VALUES (12, NULL, N'd411cf68bd7f71d13fb053154f455651', NULL, N'Phan Đoàn Quyền', NULL, N'0394232580', NULL, N'quyenmac3@gmail.com', 1, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[tb_Account] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Blog] ON 

SET IDENTITY_INSERT [dbo].[tb_Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_BlogComment] ON 

INSERT [dbo].[tb_BlogComment] ([CommentId], [Name], [Phone], [Email], [Image], [CreatedDate], [Detail], [BlogId], [IsActive]) VALUES (1, N'Hồng Nhung', NULL, NULL, N'ngoc.jpg', CAST(N'2024-10-04T00:00:00.000' AS DateTime), N'Rất hữu ích!!!', 1, 1)
INSERT [dbo].[tb_BlogComment] ([CommentId], [Name], [Phone], [Email], [Image], [CreatedDate], [Detail], [BlogId], [IsActive]) VALUES (2, N'Nam Phong', NULL, NULL, N'nguyen.jfif', CAST(N'2024-10-13T00:00:00.000' AS DateTime), N'Rất tuyệt.', 1, 1)
INSERT [dbo].[tb_BlogComment] ([CommentId], [Name], [Phone], [Email], [Image], [CreatedDate], [Detail], [BlogId], [IsActive]) VALUES (3, N'Hải Yến', NULL, NULL, N'nhan.jpg', CAST(N'2024-10-27T00:00:00.000' AS DateTime), N'Hay.', 2, 1)
SET IDENTITY_INSERT [dbo].[tb_BlogComment] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Category] ON 

INSERT [dbo].[tb_Category] ([CategoryId], [Title], [Alias], [Description], [Position], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedDate], [ModifiedDate]) VALUES (1, N'Chăm sóc mèo', N'Chăm sóc mèo', NULL, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tb_Category] ([CategoryId], [Title], [Alias], [Description], [Position], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedDate], [ModifiedDate]) VALUES (2, N'Chăm sóc chó', N'Chăm sóc chó', NULL, 2, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tb_Category] ([CategoryId], [Title], [Alias], [Description], [Position], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedDate], [ModifiedDate]) VALUES (3, N'Cách chọn phụ kiện', N'Cách chọn phụ kiện', NULL, 3, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Contact] ON 

INSERT [dbo].[tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate], [ModifiedDate]) VALUES (1, N'Đặng Nam Phong', N'0396286372', N'namphong23@gmail.cokm', N'Sản phẩm rất tốt.', NULL, CAST(N'2024-11-30T03:44:43.307' AS DateTime), NULL)
INSERT [dbo].[tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate], [ModifiedDate]) VALUES (2, N'Phạm Minh Ngọc', N'0376238945', N'ngoc@gmail.com', N'Great!', NULL, CAST(N'2024-12-14T14:03:13.577' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tb_Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Menu] ON 

INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Levels], [ParentId], [Position], [IsActive]) VALUES (1, N'Trang chủ', N'Home', 1, NULL, 1, 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Levels], [ParentId], [Position], [IsActive]) VALUES (2, N'Sản phẩm', N'Product', 1, NULL, 2, 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Levels], [ParentId], [Position], [IsActive]) VALUES (4, N'Blog', N'Blog', 1, NULL, 4, 1)
SET IDENTITY_INSERT [dbo].[tb_Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_OrderDetail] ON 

INSERT [dbo].[tb_OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Price], [Quantity]) VALUES (1, NULL, 1, NULL, 1)
INSERT [dbo].[tb_OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Price], [Quantity]) VALUES (5, NULL, 4, NULL, 1)
INSERT [dbo].[tb_OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Price], [Quantity]) VALUES (6, NULL, 5, NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Product] ON 

INSERT [dbo].[tb_Product] ([ProductId], [Title], [Alias], [CategoryProductId], [Description], [Detail], [Image], [Price], [PriceSale], [Quantity], [CreatedDate], [ModifiedDate], [IsNew], [IsBestSeller], [UnitInStock], [IsActive], [Star]) VALUES (4, N'Thức ăn cho chó Tylees', N'Thức ăn cho chó Tylees', 2, NULL, NULL, N'/files/Thuc%20an%20cho%20dog%20Tylees.jpg', 180000, 149000, 50, NULL, NULL, 1, 0, NULL, 1, 4)
SET IDENTITY_INSERT [dbo].[tb_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductCategory] ON 

INSERT [dbo].[tb_ProductCategory] ([CategoryProductId], [Title], [Alias], [Icon], [Position], [IsActive]) VALUES (1, N'Dành cho mèo', N'Dành cho mèo', NULL, 1, 1)
INSERT [dbo].[tb_ProductCategory] ([CategoryProductId], [Title], [Alias], [Icon], [Position], [IsActive]) VALUES (2, N'Dành cho chó', N'Dành cho chó', NULL, 2, 1)
INSERT [dbo].[tb_ProductCategory] ([CategoryProductId], [Title], [Alias], [Icon], [Position], [IsActive]) VALUES (3, N'Dành cho thỏ', N'Dành cho thỏ', NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[tb_ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductReview] ON 

INSERT [dbo].[tb_ProductReview] ([ProductReviewId], [Name], [Phone], [Email], [Image], [CreatedDate], [Detail], [Star], [ProductId], [IsActive]) VALUES (1, N'Ngọc', N'0374623537', NULL, N'ngoc.jpg', CAST(N'2024-12-10T00:00:00.000' AS DateTime), N'Great!', 5, 5, 1)
SET IDENTITY_INSERT [dbo].[tb_ProductReview] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Role] ON 

INSERT [dbo].[tb_Role] ([RoleId], [RoleName], [Description]) VALUES (1, N'Admin', NULL)
INSERT [dbo].[tb_Role] ([RoleId], [RoleName], [Description]) VALUES (2, N'Người dùng', NULL)
SET IDENTITY_INSERT [dbo].[tb_Role] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Service] ON 

INSERT [dbo].[tb_Service] ([ServiceId], [Title], [Alias], [CategoryServiceId], [Description], [Detail], [Image], [Price], [PriceSale], [CreatedDate], [ModifiedDate], [IsNew], [IsActive], [Star]) VALUES (1, N'Gửi thú cưng', N'Gửi thú cưng', NULL, NULL, NULL, N'flaticon-house', NULL, NULL, NULL, NULL, 0, 1, 5)
INSERT [dbo].[tb_Service] ([ServiceId], [Title], [Alias], [CategoryServiceId], [Description], [Detail], [Image], [Price], [PriceSale], [CreatedDate], [ModifiedDate], [IsNew], [IsActive], [Star]) VALUES (2, N'Cho thú cưng ăn', N'Cho thú cưng ăn', NULL, NULL, NULL, N'flaticon-food', NULL, NULL, NULL, NULL, 0, 1, 5)
INSERT [dbo].[tb_Service] ([ServiceId], [Title], [Alias], [CategoryServiceId], [Description], [Detail], [Image], [Price], [PriceSale], [CreatedDate], [ModifiedDate], [IsNew], [IsActive], [Star]) VALUES (3, N'Chăm sóc thú cưng', N'Chăm sóc thú cưng', NULL, NULL, NULL, N'flaticon-grooming', NULL, NULL, NULL, NULL, 0, 1, 5)
SET IDENTITY_INSERT [dbo].[tb_Service] OFF
GO
ALTER TABLE [dbo].[tb_Account]  WITH CHECK ADD  CONSTRAINT [FK_tb_Account_tb_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[tb_Role] ([RoleId])
GO
ALTER TABLE [dbo].[tb_Account] CHECK CONSTRAINT [FK_tb_Account_tb_Role]
GO
ALTER TABLE [dbo].[tb_Blog]  WITH CHECK ADD  CONSTRAINT [FK_tb_Blog_tb_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[tb_Account] ([AccountId])
GO
ALTER TABLE [dbo].[tb_Blog] CHECK CONSTRAINT [FK_tb_Blog_tb_Account]
GO
ALTER TABLE [dbo].[tb_Blog]  WITH CHECK ADD  CONSTRAINT [FK_tb_Blog_tb_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tb_Category] ([CategoryId])
GO
ALTER TABLE [dbo].[tb_Blog] CHECK CONSTRAINT [FK_tb_Blog_tb_Category]
GO
ALTER TABLE [dbo].[tb_BlogComment]  WITH CHECK ADD  CONSTRAINT [FK_tb_BlogComment_tb_Blog] FOREIGN KEY([BlogId])
REFERENCES [dbo].[tb_Blog] ([BlogId])
GO
ALTER TABLE [dbo].[tb_BlogComment] CHECK CONSTRAINT [FK_tb_BlogComment_tb_Blog]
GO
ALTER TABLE [dbo].[tb_Order]  WITH CHECK ADD  CONSTRAINT [FK_tb_Order_tb_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[tb_Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[tb_Order] CHECK CONSTRAINT [FK_tb_Order_tb_Customer]
GO
ALTER TABLE [dbo].[tb_Order]  WITH CHECK ADD  CONSTRAINT [FK_tb_Order_tb_OrderStatus] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[tb_OrderStatus] ([OrderStatusId])
GO
ALTER TABLE [dbo].[tb_Order] CHECK CONSTRAINT [FK_tb_Order_tb_OrderStatus]
GO
ALTER TABLE [dbo].[tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_tb_OrderDetail_tb_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[tb_Order] ([OrderId])
GO
ALTER TABLE [dbo].[tb_OrderDetail] CHECK CONSTRAINT [FK_tb_OrderDetail_tb_Order]
GO
ALTER TABLE [dbo].[tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_tb_OrderDetail_tb_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tb_Product] ([ProductId])
GO
ALTER TABLE [dbo].[tb_OrderDetail] CHECK CONSTRAINT [FK_tb_OrderDetail_tb_Product]
GO
ALTER TABLE [dbo].[tb_Product]  WITH CHECK ADD  CONSTRAINT [FK_tb_Product_tb_ProductCategory] FOREIGN KEY([CategoryProductId])
REFERENCES [dbo].[tb_ProductCategory] ([CategoryProductId])
GO
ALTER TABLE [dbo].[tb_Product] CHECK CONSTRAINT [FK_tb_Product_tb_ProductCategory]
GO
ALTER TABLE [dbo].[tb_ProductReview]  WITH CHECK ADD  CONSTRAINT [FK_tb_ProductReview_tb_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tb_Product] ([ProductId])
GO
ALTER TABLE [dbo].[tb_ProductReview] CHECK CONSTRAINT [FK_tb_ProductReview_tb_Product]
GO
ALTER TABLE [dbo].[tb_Service]  WITH CHECK ADD  CONSTRAINT [FK_tb_Service_tb_ServiceCategory] FOREIGN KEY([CategoryServiceId])
REFERENCES [dbo].[tb_ServiceCategory] ([CategoryServiceId])
GO
ALTER TABLE [dbo].[tb_Service] CHECK CONSTRAINT [FK_tb_Service_tb_ServiceCategory]
GO
ALTER TABLE [dbo].[tb_ServiceReview]  WITH CHECK ADD  CONSTRAINT [FK_tb_ServiceReview_tb_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[tb_Service] ([ServiceId])
GO
ALTER TABLE [dbo].[tb_ServiceReview] CHECK CONSTRAINT [FK_tb_ServiceReview_tb_Service]
GO
USE [master]
GO
