 @model TbService
@{
    List<TbServiceReview> serviceReview = ViewBag.serviceReview;
    List<TbServiceCategory> serviceCategory = ViewBag.serviceCategory;
    List<TbService> service = ViewBag.service;
}

<!-- Pricing Plan Start -->
<div class="container-fluid py-5">
    
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h1 class="text-primary text-uppercase">Dịch vụ</h1>
   
                 <h2 class="display-5 text-uppercase mb-0">@Model.Title</h2>
               
        </div>
                
        <div class="row g-5">
            <div class="col-lg-4">
            
                <div class="bg-light text-center pt-5 mt-lg-5">
                    <h2 class="text-uppercase">Gói cơ bản</h2>
                    
                    <div class="text-center bg-primary p-4 mb-2">
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top"
                                   style="font-size: 22px; line-height: 45px;">$</small>50<small class="align-bottom" style="font-size: 16px; line-height: 40px;">
                                /
                               ngày
                            </small>
                        </h1>
                        
                    </div>

                    
                    <div class="text-center p-4">
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Tắm Gội Và Chải Lông</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Cắt Tỉa Lông Nghệ Thuật</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Dịch Vụ Cá Nhân Hóa</span>
                            <i class="bi bi-x fs-4 text-danger"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Chụp Ảnh Thú Cưng</span>
                            <i class="bi bi-x fs-4 text-danger"></i>
                        </div>
                        <a href="" class="btn btn-primary text-uppercase py-2 px-4 my-3">Order Now</a>
                       
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bg-light text-center pt-5">
                    <h2 class="text-uppercase">Gói nâng cao</h2>
                   
                    <div class="text-center bg-dark p-4 mb-2">
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top"
                                   style="font-size: 22px; line-height: 45px;">$</small>500<small class="align-bottom" style="font-size: 16px; line-height: 40px;">
                                /
                                tuần
                            </small>
                        </h1>
                    </div>

                    <div class="text-center p-4">
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Tắm Gội Và Chải Lông</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Cắt Tỉa Lông Nghệ Thuật</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Dịch Vụ Cá Nhân Hóa</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Chụp Ảnh Thú Cưng</span>
                            <i class="bi bi-x fs-4 text-danger"></i>
                        </div>
                        <a href="" class="btn btn-primary text-uppercase py-2 px-4 my-3">Order Now</a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-light text-center pt-5 mt-lg-5">
                    <h2 class="text-uppercase">Gói Vip</h2>
                 
                    <div class="text-center bg-primary p-4 mb-2">
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top"
                                   style="font-size: 22px; line-height: 45px;">$</small>900<small class="align-bottom" style="font-size: 16px; line-height: 40px;">
                                /tháng
                                
                            </small>
                        </h1>
                    </div>
                    <div class="text-center p-4">
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Tắm Gội Và Chải Lông</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Cắt Tỉa Lông Nghệ Thuật</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Dịch Vụ Cá Nhân Hóa</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <span>Chụp Ảnh Thú Cưng</span>
                            <i class="bi bi-check2 fs-4 text-primary"></i>
                        </div>
                        <a href="" class="btn btn-primary text-uppercase py-2 px-4 my-3">Order Now</a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

          
<!-- Pricing Plan End -->