@model PetShop.Models.TbBlog

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sửa Blog</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Sửa Blog</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- <hr /> -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Sửa Blog</h3>
                        </div>
                        <form asp-action="Edit">
                            <div class="card-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="BlogId" />
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label">Tiêu đề</label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Alias" class="control-label">Alias</label>
                                    <input asp-for="Alias" class="form-control" />
                                    <span asp-validation-for="Alias" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CategoryId" class="control-label">Danh mục</label>
                                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                                        <option value="0" selected>--[Chọn danh mục]</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Image" class="control-label">Ảnh</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-success" onclick="openDialog()">Chọn ảnh</button>
                                        </div>
                                    </div>
                                    <img src="@Html.DisplayFor(model => model.Image)" width="100" hight="70" style="margin-bottom:20px" />
                                    <input type="text" class="form-control" id="file_input" asp-for="Image" aria-describedby="button-addon2" />
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label">Mô tả</label>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Detail" class="control-label">Chi tiết</label>
                                    <textarea asp-for="Detail" class="form-control"></textarea>
                                    <span asp-validation-for="Detail" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CreatedDate" class="control-label">Ngày thêm</label>
                                    <input asp-for="CreatedDate" class="form-control" />
                                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsActive" /> Hiện thị
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Sửa" class="btn btn-primary" style="margin-right:10px" />
                                    <a asp-action="Index" class="btn btn-outline-primary">Quay lại</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@{
    var summerNote = new PetShop.Areas.Admin.Models.BlogSummerNote("#Detail");
    <partial name="_BlogSummerNote" model="summerNote" />
}
